/* Tetris game made with HTML, CSS and Javascript, following the tutorial provided by freeCodeCamp https://www.youtube.com/watch?v=rAUn1Lom6dw, taught by teacher Ania Kubow. */

body {
    margin: 0;
    padding: 0;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: red;
    border: solid 1px white;
}